* { 
    margin: 0; padding: 0; 
}

body {
    cursor: none;
    overflow-x: hidden;
    font-family: "Arial"; 
    font-size: 160px;
}

@keyframes grid-shift {
    0% { transform: rotate(5deg); }
    100% { transform: rotate(8.2deg); }
}

#cursor-border {
    height: 15px;
    width: 15px;

    position: absolute;
    transform: translate(-50%, -50%);
    transition-duration: 0.2s;
    transition-property: height, width, border, box-shadow;

    border-radius: 50%;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0);
    border: 2px solid rgba(0, 0, 0);
}

/* opener - Main wrapper for the title and other visual effects. */
.opener {
    height: 100%; width: 100%; 
    overflow: hidden;

    display: flex; align-items: center; justify-content: center;
    user-select: none;

    .navigator {
        height: 10%; width: 30%;
        background: red;
        position: absolute;
        right: 1%; top: 1%;
    }

    .background { 
        overflow: hidden;
        position: absolute;
        width: 150vw; height: 150vh; 
        transform: rotate(5deg);
        animation: grid-shift ease-in-out 9s infinite alternate; 
        z-index: -1;

        background-image: url("/img/grid.svg"), linear-gradient(40deg, hsla(255, 18%, 30%, 1) 0%, hsla(221, 44%, 46%, 1) 100%);
        background-repeat: cover;
    }

    .title { 
        height: 100vh; width: 100%;
        display: flex; align-items: center; justify-content: center; 
        text-align: center;
        color: rgb(222, 222, 222);

        .container { 
            width: 100%; 

            line-height: 85%;

            .first-name { font-size: 160%; }
            .last-name { font-size: 70%; }

            h3 { 
                font-size: 18%;
                line-height: 80%;
            }
        }

        &::before {
            height: 100%; width: 100%;
            content: '';
            opacity: 0.4;

            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            
            position: absolute;
            background-image: url("/img/shmg.png");
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}

.description {
    height: 60vh; width: 100vw; 
    background-color: red;
}

