@import "https://fonts.googleapis.com/css2?family=Baskervville&display=swap";
@import "https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap";
/* Colors */
/* Transparent colors */
/* Keyframes */
@-webkit-keyframes text-expand {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    content: var(--full);
    opacity: 1;
  }
}
@keyframes text-expand {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    content: var(--full);
    opacity: 1;
  }
}
@-webkit-keyframes color-pulse {
  0% {
    color: #235789;
  }
  33% {
    color: #c1292e;
  }
  66% {
    color: #0a8754;
  }
  100% {
    color: #235789;
  }
}
@keyframes color-pulse {
  0% {
    color: #235789;
  }
  33% {
    color: #c1292e;
  }
  66% {
    color: #0a8754;
  }
  100% {
    color: #235789;
  }
}
/* Mixins */
/* General page styles */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
* body {
  color: #161925;
  font-family: Baskervville, serif;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}
* body,
* html {
  height: 100%;
  width: 100%;
}
* ::-webkit-scrollbar {
  width: 0;
}

/* Navigation bar, locked in top left, for website movement */
.navigation {
  left: 20px;
  position: fixed;
  top: 20px;
  width: 100%;
  z-index: 10000;
}
.navigation a,
.navigation button {
  --hover-color: $blue;
  background: #fdfffc;
  border-bottom: 1px solid #161925;
  border-top: 1px solid #161925;
  color: #161925;
  filter: drop-shadow(10px 10px 0px rgba(22, 25, 37, 0.6));
  float: left;
  font-size: 20px;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.3s;
}
.navigation a:hover,
.navigation button:hover {
  background: var(--hover-color);
  color: #fdfffc;
  padding: 25px 20px;
}
.navigation a:first-child,
.navigation button:first-child {
  border-left: 1px solid #161925;
}
.navigation a:last-child,
.navigation button:last-child {
  border-right: 1px solid #161925;
}
.navigation a:nth-child(3n-2),
.navigation button:nth-child(3n-2) {
  --hover-color: #235789;
}
.navigation a:nth-child(3n-1),
.navigation button:nth-child(3n-1) {
  --hover-color: #c1292e;
}
.navigation a:nth-child(3n),
.navigation button:nth-child(3n) {
  --hover-color: #0a8754;
}

.header {
  align-items: center;
  display: flex;
  justify-content: center;
  background: #fdfffc;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}
.header .container {
  border: #161925 1px solid;
  padding: 20px;
}
.header .square-container {
  align-items: center;
  display: flex;
  justify-content: center;
  justify-content: left;
}
.header .square {
  --card: "";
  --full: "";
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 35px;
  height: 60px;
  margin: 2px;
  transition: width 0.4s ease-in-out, opacity 1s ease, content 1s ease, font-size 0.4s ease;
  width: 60px;
}
.header .square::before {
  color: #fdfffc;
  content: var(--card);
}
.header .square:hover {
  font-size: 25px;
  width: 250px;
}
.header .square:hover::before {
  -webkit-animation: text-expand 0.4s ease-in-out forwards;
          animation: text-expand 0.4s ease-in-out forwards;
}
.header .sq1 {
  --card: "Sd";
  --full: "software dev";
  background: #235789;
}
.header .sq2 {
  --card: "Wb";
  --full: "website builder";
  background: #c1292e;
}
.header .sq3 {
  --card: "Gh";
  --full: "graphic designer";
  background: #0a8754;
}
.header .copyright {
  border: 1px solid #161925;
  bottom: 20px;
  color: rgba(22, 25, 37, 0.6);
  font-size: 15px;
  font-style: italic;
  padding: 6px;
  position: absolute;
  right: 20px;
}
.header h1 {
  font-size: 125px;
  line-height: 125px;
  text-align: center;
  transition: color 0.2s;
}

.about-me {
  align-items: center;
  display: flex;
  justify-content: center;
  background: #fdfffc;
  flex-direction: row;
  height: calc(60vh - 50px);
  justify-content: left;
  width: calc(100vw - 50px);
}
.about-me .box {
  align-items: center;
  display: flex;
  justify-content: center;
  background: #fdfffc;
  height: 100%;
  width: 100vw;
}
.about-me .box .code-box {
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  height: 100%;
  width: 50%;
}
.about-me .box .code-box .code {
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  font-family: "Courier Prime", monospace;
  font-size: 24px;
  justify-content: center;
  height: calc(60vh - 125px);
  width: calc(50vw - 125px);
}
.about-me .box .code-box .code .b {
  color: #235789;
}
.about-me .box .code-box .code .r {
  color: #c1292e;
}
.about-me .box .code-box .code .g {
  color: #0a8754;
}
.about-me .box .code-box .code .bt {
  color: rgba(22, 25, 37, 0.6);
}
.about-me .box .description-box {
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  height: 100%;
  width: 50%;
}
.about-me .box .description-box .description {
  height: calc(60vh - 125px);
  width: calc(50vw - 125px);
}
.about-me .box .description-box .description h1 {
  color: #235789;
  font-size: 80px;
}
.about-me .box .description-box .description h2 {
  font-size: 19px;
}

.programming {
  align-items: center;
  display: flex;
  justify-content: center;
  background: #fdfffc;
  height: 60vh;
  width: 100vw;
}
.programming .container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: left;
  height: calc(60vh - 50px);
  width: calc(100vw - 50px);
}
.programming .container .logo {
  height: 100px;
  transition-duration: 0.4s;
  width: 100px;
}
.programming .container .logo:hover {
  height: 104px;
  width: 104px;
}
.programming .container h1 {
  color: #c1292e;
  font-size: 80px;
  line-height: 60px;
}
.programming .container h2 {
  font-size: 30px;
  line-height: 60px;
}
.programming .container h3 {
  width: 40%;
}/*# sourceMappingURL=style.css.map */