@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');

/* Variables */ 
$white: #FDFFFC;
$blue: #235789;
$red: #C1292E;
$yellow: #F1D302;
$black: #161925; 

* {
    font-family: 'Baskervville', serif;

    body {
        overflow-x: hidden;
        margin: 0; padding: 0;
    }    

    ::-webkit-scrollbar {
        width: 0px;
    }
}


.header {
    width: 100vw; height: 100vh;
    display: flex; justify-content: center; align-items: center;
    overflow: hidden;

    background: $white; 

    .squareContainer {
        display: flex; justify-content: left; align-items: center;
    }
    
    .square {
        width: 60px;
        height: 60px;
        margin-left: 2px;
        margin-right: 2px;
    }

    h1 {
        color: $black;
        transition: color 0.2s;

        font-size: 125px; 
        line-height: 0px;
        text-align: center;
    }

    h2 {
        color: $black;
        font-size: 30px; 

        position: relative;
        text-align: right;

        #highlight {
            background-color: $blue;
            color: $white;
            padding: 4px;
            border-radius: 5px;
        }
    }
}