@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');

/* Variables */ 
/* Colors */
$white: #FDFFFC;
$blue: #235789;
$red: #C1292E;
$yellow: #F1D302;
$black: #161925;

$white-tns: #FDFFFC99;
$blue-tns: #23578999;
$red-tns: #C1292E99;
$yellow-tns: #F1D30299;
$black-tns: #16192599;

/* Keyframes */
@keyframes text-fadeOutIn {
    0% { opacity: 1; background: var(--starting-color)}
    50% { opacity: 0; }
    100% { opacity: 1; content: var(--full); background: var(--ending-color)}
}

@keyframes text-fadeInOut {
    0% { opacity: 1; content: var(--full); background: var(--ending-color)}
    50% { opacity: 0; }
    100% { opacity: 1; background: var(--starting-color);}
}

* {
    font-family: 'Baskervville', serif;
    margin: 0; padding: 0;

    body {
        overflow-x: hidden;
        margin: 0; padding: 0;
    }    

    ::-webkit-scrollbar {
        width: 0px;
    }
}


.header {
    width: 100vw; height: 100vh;
    display: flex; justify-content: center; align-items: center;
    overflow: hidden;

    background: $white; 

    .square-container {
        display: flex; justify-content: left; align-items: left;
    }

    .square {
        --card: '';
        --full: ''; 

        width: 60px; height: 60px;
        margin: 2px;

        font-size: 35px;

        transition: width 0.4s ease-in-out, opacity 1s ease, content 1s ease, font-size 0.4s ease;
        display: flex; justify-content: center; align-items: center;

        &::before {
            content: var(--card);
            color: $black;
            animation: text-fadeInOut 0.4 ease-in-out backwards; 
        }

        &:hover {
            width: 250px;
            font-size: 25px;

            &::before {
                animation: text-fadeOutIn 0.4s ease-in-out forwards;
            }
        }
    }    

    .sq1 { --card: 'Sd'; --full: 'software dev'; background: $blue }
    .sq2 { --card: 'Wb'; --full: 'website builder'; background: $red }
    .sq3 { --card: 'Gh'; --full: 'graphic designer'; background: $yellow }

    h1 {
        color: $black;
        transition: color 0.2s;

        font-size: 125px; 
        line-height: 125px;
        text-align: center;
    }
}