@import "https://fonts.googleapis.com/css2?family=Baskervville&display=swap";
@import "https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap";

/* Colors */

$white: #fdfffc;
$blue: #235789;
$red: #c1292e;
$green: #0a8754;
$black: #161925;

/* Transparent colors */

$white-tns: #fdfffc99;
$blue-tns: #23578999;
$red-tns: #c1292e99;
$green-tns: #0a875499;
$black-tns: #16192599;

/* Keyframes */

@keyframes text-expand {
    0% { opacity: 1; }

    50% { opacity: 0; }

    100% {
        content: var(--full);
        opacity: 1;
    }
}

@keyframes color-pulse {
    0% { color: $blue }
    33% { color: $red }
    66% { color: $green }
    100% { color: $blue}
}

/* Mixins */
@mixin flex {
    align-items: center;
    display: flex;
    justify-content: center;
}

/* General page styles */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

    body {
        color: $black; 
        font-family: Baskervville, serif;
        margin: 0;
        overflow-x: hidden;
        padding: 0;
    }

    body,
    html {
        height: 100%;
        width: 100%;
    }

    ::-webkit-scrollbar {
        width: 0;
    }
}

/* Navigation bar, locked in top left, for website movement */
.navigation {
    left: 20px;
    position: fixed;
    top: 20px;
    width: 100%;
    z-index: 10000;

    a,
    button {
        --hover-color: $blue;

        background: $white;
        border-bottom: 1px solid $black;
        border-top: 1px solid $black;
        color: $black;
        filter: drop-shadow(10px 10px 0px $black-tns);
        float: left;
        font-size: 20px;
        padding: 15px 20px;
        text-align: center;
        text-decoration: none;
        transition-duration: 0.3s;

        &:hover {
            background: var(--hover-color);
            color: $white;
            padding: 25px 20px;
        }

        &:first-child { border-left: 1px solid $black; }
        &:last-child { border-right: 1px solid $black; }

        &:nth-child(3n - 2) { --hover-color: #235789; }
        &:nth-child(3n - 1) { --hover-color: #c1292e; }
        &:nth-child(3n) { --hover-color: #0a8754; }
    }
}

.header {
    @include flex;

    background: $white;
    height: 100vh;
    overflow: hidden;
    width: 100vw;

    .container {
        border: $black 1px solid;
        padding: 20px;
    }

    .square-container {
        @include flex;

        justify-content: left;
    }

    .square {
        --card: "";
        --full: "";

        @include flex;

        font-size: 35px;
        height: 60px;
        margin: 2px;
        transition: width 0.4s ease-in-out, opacity 1s ease, content 1s ease, font-size 0.4s ease;
        width: 60px;

        &::before {
            color: $white;
            content: var(--card);
        }

        &:hover {
            font-size: 25px;
            width: 250px;

            &::before {
                animation: text-expand 0.4s ease-in-out forwards;
            }
        }
    }

    .sq1 {
        --card: "Sd";
        --full: "software dev";

        background: $blue;
    }

    .sq2 {
        --card: "Wb";
        --full: "website builder";

        background: $red;
    }

    .sq3 {
        --card: "Gh";
        --full: "graphic designer";

        background: $green;
    }

    .copyright {
        border: 1px solid $black;
        bottom: 20px;
        color: $black-tns;
        font-size: 15px;
        font-style: italic;
        padding: 6px;
        position: absolute;
        right: 20px;
    }

    h1 {
        font-size: 125px;
        line-height: 125px;
        text-align: center;
        transition: color 0.2s;
    }
}

.about-me {
    @include flex;

    background: $white;
    flex-direction: row;
    height: calc(60vh - 50px);
    justify-content: left;
    width: calc(100vw - 50px);

    .box {
        @include flex;

        background: $white;
        height: 100%;
        width: 100vw;

        .code-box {
            @include flex;

            border-radius: 20px;
            height: 100%;
            width: 50%;

            .code {
                @include flex;

                align-items: baseline;
                flex-direction: column;
                font-family: "Courier Prime", monospace;
                font-size: 24px;
                justify-content: center;
                height: calc(60vh - 125px);
                width: calc(50vw - 125px);

                .b { color: $blue; }
                .r { color: $red; }
                .g { color: $green; }
                .bt { color: $black-tns; }
            }
        }

        .description-box {
            @include flex;

            align-items: baseline;
            flex-direction: column;
            height: 100%;
            width: 50%;

            .description {
                height: calc(60vh - 125px);
                width: calc(50vw - 125px);

                h1 {
                    color: $blue;
                    font-size: 80px;
                }
    
                h2 {
                    font-size: 19px;
                }
            }
        }
    }
}

.programming {
    @include flex;

    background: $white;
    height: 60vh;
    width: 100vw;

    .container {
        @include flex; 

        flex-direction: column;
        justify-content: left;
        height: calc(60vh - 50px);
        width: calc(100vw - 50px);

        .logo {
            height: 100px;
            transition-duration: 0.4s;
            width: 100px; 

            &:hover {
                height: calc(100px * 1.04); 
                width: calc(100px * 1.04);
            }
        }

        h1 {
            color: $red; 
            font-size: 80px; 
            line-height: 60px;
        }
        
        h2 { 
            font-size: 30px; 
            line-height: 60px;
        }

        h3 {
            width: 40%; 
        }
    }

}
